
    <div class="homeContain">
        <div class="hero">
            <div class="img">

                <div class="content">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt, eligendi quidem facilis, aperiam porro ipsa voluptas nemo recusandae sit debitis, sint laborum quod delectus culpa facere explicabo voluptate error mollitia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed fuga vero, eos omnis quia tenetur at quam corrupti atque ullam architecto quis dolorem excepturi eum obcaecati quibusdam aliquid ad nihil!</p><br>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid pariatur, explicabo cupiditate amet praesentium mollitia. Sed pariatur tempore enim quia fugiat nemo tempora quae. Aut assumenda iste fugiat odio facilis.</p>
                <button class="buy">Buy Now!</button>
                </div>
            </div>
            
        </div>

        <div class="footer">

        </div>
    
    </div>
